<a href="https://colab.research.google.com/github/gurusurya946/FML/blob/main/Airline_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix
from sklearn.model_selection import train_test_split

In [24]:
data=pd.read_csv('/content/Invistico_Airline.csv')

In [25]:
data.head()

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265.0,0.0,0.0,0.0,...,2.0,3.0,3.0,0.0,3.0,5.0,3.0,2.0,0.0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464.0,0.0,0.0,0.0,...,2.0,3.0,4.0,4.0,4.0,2.0,3.0,2.0,310.0,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138.0,0.0,0.0,0.0,...,2.0,2.0,3.0,3.0,4.0,4.0,4.0,2.0,0.0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623.0,0.0,0.0,0.0,...,3.0,1.0,1.0,0.0,1.0,4.0,1.0,3.0,0.0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354.0,0.0,0.0,0.0,...,4.0,2.0,2.0,0.0,2.0,4.0,2.0,5.0,0.0,0.0

In [26]:
data.describe()

,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
count,33151.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33150.000000,33030.000000
mean,38.488492,1790.811493,2.595143,3.295988,2.522624,2.971071,3.227089,3.074419,3.492579,3.499367,3.571403,3.525128,3.804525,3.450166,3.827873,3.374419,15.053394,15.462398
std,18.509548,858.892008,1.346816,1.502115,1.377764,1.251808,1.334135,1.442508,1.362939,1.322017,1.237962,1.292445,1.135425,1.231594,1.117678,1.316360,39.069181,39.370157
min,7.000000,50.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000
25%,22.000000,1256.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,38.000000,1809.000000,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,0.000000,0.000000
75%,54.000000,2289.000000,3.000000,5.000000,3.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,4.000000,13.000000,14.000000
max,70.000000,6924.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

In [27]:
data.isnull().sum()

satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  1
Flight Distance                        1
Seat comfort                           1
Departure/Arrival time convenient      1
Food and drink                         1
Gate location                          1
Inflight wifi service                  1
Inflight entertainment                 1
Online support                         1
Ease of Online booking                 1
On-board service                       1
Leg room service                       1
Baggage handling                       1
Checkin service                        1
Cleanliness                            1
Online boarding                        1
Departure Delay in Minutes             1
Arrival Delay in Minutes             121
dtype: int64

In [28]:
data['satisfaction']=data['satisfaction'].replace('satisfied',1)
data['satisfaction']=data['satisfaction'].replace('dissatisfied',0)
print(data['satisfaction'])

0        1
1        1
2        1
3        1
4        1
        ..
33146    0
33147    1
33148    0
33149    0
33150    0
Name: satisfaction, Length: 33151, dtype: int64

In [29]:
data['Gender']=data['Gender'].replace('Male',1)
data['Gender']=data['Gender'].replace('Female',0)
print(data['Gender'])

0        0
1        1
2        0
3        0
4        0
        ..
33146    1
33147    0
33148    1
33149    1
33150    1
Name: Gender, Length: 33151, dtype: int64

In [30]:
data['Customer Type']=data['Customer Type'].replace('Loyal Customer',1)
data['Customer Type']=data['Customer Type'].replace('disloyal Customer',0)
print(data['Customer Type'])

0        1
1        1
2        1
3        1
4        1
        ..
33146    1
33147    1
33148    1
33149    1
33150    1
Name: Customer Type, Length: 33151, dtype: int64

In [31]:
data['Class']=data['Class'].replace('Eco',1)
data['Class']=data['Class'].replace('Business',0)
data['Class']=data['Class'].replace('Eco Plus',2)
data['Class']

0        1.0
1        0.0
2        1.0
3        1.0
4        1.0
        ...
33146    1.0
33147    1.0
33148    1.0
33149    1.0
33150    NaN
Name: Class, Length: 33151, dtype: float64

In [32]:
data['Type of Travel']=data['Type of Travel'].replace('Personal Travel',1)
data['Type of Travel']=data['Type of Travel'].replace('Business travel',0)
data['Type of Travel']=data['Type of Travel'].replace('Personal Tr',2)

In [33]:
data['Arrival Delay in Minutes'].fillna(data['Arrival Delay in Minutes'].mean(),inplace=True)
data['Baggage handling'].fillna(data['Baggage handling'].mean(),inplace=True)
data['Checkin service'].fillna(data['Checkin service'].mean(),inplace=True)
data['Cleanliness'].fillna(data['Cleanliness'].mean(),inplace=True)
data['Online boarding'].fillna(data['Online boarding'].mean(),inplace=True)
data['Departure Delay in Minutes'].fillna(data['Departure Delay in Minutes'].mean(),inplace=True)
data['Type of Travel'].fillna(data['Type of Travel'].mean(),inplace=True)
data['Class'].fillna(data['Class'].mean(),inplace=True)
data['Flight Distance'].fillna(data['Flight Distance'].mean(),inplace=True)
data['Seat comfort'].fillna(data['Seat comfort'].mean(),inplace=True)
data['Departure/Arrival time convenient'].fillna(data['Departure/Arrival time convenient'].mean(),inplace=True)
data['Food and drink'].fillna(data['Food and drink'].mean(),inplace=True)
data['Gate location'].fillna(data['Gate location'].mean(),inplace=True)
data['Inflight wifi service'].fillna(data['Inflight wifi service'].mean(),inplace=True)
data['Inflight entertainment'].fillna(data['Inflight entertainment'].mean(),inplace=True)
data['Online support'].fillna(data['Online support'].mean(),inplace=True)
data['Ease of Online booking'].fillna(data['Ease of Online booking'].mean(),inplace=True)
data['On-board service'].fillna(data['On-board service'].mean(),inplace=True)
data['Leg room service'].fillna(data['Leg room service'].mean(),inplace=True)

In [34]:
data.isnull().sum()

satisfaction                         0
Gender                               0
Customer Type                        0
Age                                  0
Type of Travel                       0
Class                                0
Flight Distance                      0
Seat comfort                         0
Departure/Arrival time convenient    0
Food and drink                       0
Gate location                        0
Inflight wifi service                0
Inflight entertainment               0
Online support                       0
Ease of Online booking               0
On-board service                     0
Leg room service                     0
Baggage handling                     0
Checkin service                      0
Cleanliness                          0
Online boarding                      0
Departure Delay in Minutes           0
Arrival Delay in Minutes             0
dtype: int64

In [35]:
X=data.drop('satisfaction',axis=1).values
y=data['satisfaction'].values
print(X)

[[  0.           1.          65.         ...   2.           0.
    0.        ]
 [  1.           1.          47.         ...   2.         310.
  305.        ]
 [  0.           1.          15.         ...   2.           0.
    0.        ]
 ...
 [  1.           1.          22.         ...   3.           0.
    0.        ]
 [  1.           1.          40.         ...   2.           0.
    0.        ]
 [  1.           1.          56.         ...   3.37441931  15.05339367
   15.46239782]]

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

In [37]:
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [38]:
y_pred = rf.predict(X_test)

In [39]:
from sklearn.metrics import accuracy_score
print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.9879518072289156

In [40]:
confusion_matrix(y_test, y_pred)

array([[158,   0],
       [  4, 170]])

In [41]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99       158
           1       1.00      0.98      0.99       174

    accuracy                           0.99       332
   macro avg       0.99      0.99      0.99       332
weighted avg       0.99      0.99      0.99       332